<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Drop Table</title>
</head>
<body>
    <h1 th:text="${droptable.dropTableName}">Drop Table Name</h1>
    <a href="/monsters">Back to Monster List</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Drop Rate</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${dropentries}">
            <td th:text="${entry.item.name}">Item Name</td>
            <td th:text="${entry.quantity}">Quantity</td>
            <td th:text="${entry.dropRate}">Drop Rate</td>
        </tr>
        </tbody>
    </table>
</body>
</html>