<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Monster Database</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" th:href="@{/css/styles.css}" />
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</head>
	<body>
		<h1>Monster Database</h1>
		<ul>
			<li th:each="monster : ${monsters}">
				<a th:href="@{/monsters/{id}(id=${monster.monsterId})}"
					>[[${monster.monsterName}]]</a
				>
			</li>
		</ul>

		<h2>Add New Monster</h2>
		<form id="monsterForm">
			<div>
				<label for="monsterName">Name:</label>
				<input type="text" id="monsterName" name="monsterName" required />
			</div>
			<div>
				<label for="monsterExamine">Examine:</label>
				<input type="text" id="monsterExamine" name="monsterExamine" required />
			</div>
			<div>
				<label for="combatLevel">Combat Level:</label>
				<input type="number" id="combatLevel" name="combatLevel" required />
			</div>
			<div>
				<button type="button" onclick="submitForm()">Add Monster</button>
			</div>
		</form>

		<script>
			function submitForm() {
				var formData = {
					monsterName: $("#monsterName").val(),
					monsterExamine: $("#monsterExamine").val(),
					combatLevel: $("#combatLevel").val(),
				};

				$.ajax({
					type: "POST",
					url: "/monsters",
					data: JSON.stringify(formData),
					contentType: "application/json",
					success: function (response) {
						window.location.reload();
					},
					error: function (error) {
						console.error("Error adding monster:", error);
					},
				});
			}
		</script>
	</body>
</html>
