<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Items List</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
	</head>
	<body>
		<div class="container mt-5">
			<h1 class="mb-4">Items List</h1>
			<a href="/monsters" class="btn btn-secondary mb-4"
				>Back to Monsters List</a
			>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Item ID</th>
						<th>Item Name</th>
						<th>Item Value</th>
						<th>Is Stackable</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${items}">
						<td th:text="${item.itemId}"></td>
						<td th:text="${item.itemName}"></td>
						<td th:text="${item.itemValue}"></td>
						<td th:text="${item.itemIsStackable ? 'Yes' : 'No'}"></td>
					</tr>
				</tbody>
			</table>
		</div>

		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
